<!doctype html>
<html ng-app="metrogram">
<head>
	<meta charset="utf-8" />
	<title>Instaview</title>
	<link rel="stylesheet" href="assets/style.css" />
	<script src="assets/angular.min.js"></script>
	<script src="assets/metrogram.js"></script>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

</head>
<body ng-controller="slideshow" ng-class="loadingClass">
<main>
	<h1 class="sli">
		TAGGA
		<b>#{{ tag }}</b>
		PÅ INSTAGRAM
	</h1>

	<ul id="slides" class="sli">
		<li ng-repeat="image in images" class="slide" ng-class="{ active : image.isActive }">
			<figure>
				<img ng-src="{{ image.images.standard_resolution.url }}" class="image" />
			</figure>

			<div class="meta">
				<p class="caption">
					<cite class="author">
						<img ng-src="{{ image.user.profile_picture }}" width="80" height="80" /> 
						@{{ image.user.username }}
					</cite> 
					{{ image.caption.text }}
				</p>
				<p class="likes">
					&hearts; {{ image.likes.count }} likes
				</p>
				<ul class="comments">
					<li class="comment" ng-repeat="comment in image.comments.data">
						<cite class="author">
							<img ng-src="{{ comment.from.profile_picture }}" class="commentimg" width="70" height="70" /> 
							@{{ comment.from.username }}
						</cite> 
						{{ comment.text }}
					</li>
				</ul>
			</div>
		</li>
	</ul>

	<div class="full_happy hidden"></div>
	<div class="full_johannes hidden"></div>
	<div class="full_karaoke hidden"></div>

	<video autoplay loop id="bgvid">
		<source src="http://anettejacobsson.se/nype/assets/video.mp4" type="video/mp4">
	</video>

</main>

<script>
$(document).ready(function(){
happyhour = false;

$('.sli').toggleClass('hidden');



var timer = function(){
	var d = new Date();
	var h = d.getHours();
	var m = d.getMinutes();
	var s = d.getSeconds();
	var day = d.getDay();


	if(h < 23){
		happyhour = true;
	}else{
		happyhour = false;
	}
	if(m == 10 | m == 20 | m == 30 | m == 40 | m == 50 | m == 00){
		if(s < 20 && happyhour == true){
			$('.sli').addClass('hidden');
			$('.full_happy').removeClass('hidden');
			$('.full_johannes').addClass('hidden');
			$('.full_karaoke').addClass('hidden');
		}else if(s < 40) {
			$('.sli').addClass('hidden');
			$('.full_johannes').removeClass('hidden');
			$('.full_happy').addClass('hidden');
			$('.full_karaoke').addClass('hidden');
		}else if(s < 60 && day == 3){
			$('.sli').addClass('hidden');
			$('.full_karaoke').removeClass('hidden');
			$('.full_happy').addClass('hidden');
			$('.full_johannes').addClass('hidden');
		}
	}else{
		$('.sli').removeClass('hidden');
		$('.full_johannes').addClass('hidden');
		$('.full_happy').addClass('hidden');
	}

	setTimeout(function(){ timer() }, 1000);
}

timer()



});
</script>
</body>
</html>